<html>
  <head>
    <title> <strong> PAGE POTIN OU POTE UN </strong> </title>
  </head>
  <body>
    <strong> Voici la page du potin numéro <%= id + 1 %> </strong> 
    <p> Son auteur?  ==> <%= gossip.auteur %><br/> </p>
    <p> Ce que ça dit? ==> <%= gossip.contenu %> </p> 

    Revenir à l'accueil:
    <p> ici <a href="/gossips/new/"> Va créer un nouveau potin </a> </p>
    </body>
</html>